.sidebar{
    display: flex;
    flex-direction: column;
    width:15%;
    padding:5px;
    gap:25px;
    background-color: #f8f5f2;
    padding: 15px;
    height: 90vh;
    
}
.list{
   display: flex;
   flex-direction: column;
   gap:15px;
}

.list button{
    border:none;
    background-color:#f8f5f2;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
    transition: transform 0.5ms ease;
    padding:10px
}

.list button:hover{
    background-color: #f0f0f0;
    
}

.list li{
    padding: 10px;
}
.list li:hover{
    background-color: #f0f0f0;
    color: #333;
}
.list li a{
    text-decoration: none;
    color: inherit;
}